@import url("https://use.typekit.net/fax7adl.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  list-style-type: none;
}

img {
  width: 2rem;
}

h1, h2, .linkbtn, .linkbtn-alt {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

p, li, a, input, label {
  font-family: "agenda", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

.linkbtn, .linkbtn-alt {
  background-color: #00978e;
  color: #fafafa;
  padding: 1.125rem 2rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  border: 3px solid #00978e;
  border-radius: 1.125rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.linkbtn:hover, .linkbtn-alt:hover {
  color: #00978e;
  background-color: transparent;
  padding: 1.125rem 2.5rem;
}

.linkbtn-alt {
  color: #00978e;
  background-color: transparent;
}
.linkbtn-alt:hover {
  background-color: #00978e;
  color: #fafafa;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100vw;
  height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 90%;
  margin: 1rem auto;
  display: flex;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
nav ul li {
  margin-right: 1.125rem;
}
nav ul li:last-of-type {
  margin-right: 0;
}
nav ul li a, nav ul li a:visited {
  color: #050505;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
nav ul li a:hover, nav ul li a:visited:hover {
  font-size: 1.25rem;
  color: #00978e;
}
nav ul li a svg, nav ul li a:visited svg {
  width: 1.25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
nav ul li a svg path, nav ul li a:visited svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
nav ul li a:hover svg, nav ul li a:visited:hover svg {
  width: 1.5rem;
}
nav ul li a:hover svg path, nav ul li a:visited:hover svg path {
  fill: #00978e;
}
nav ul li .logo svg {
  width: 1.75rem;
}
nav ul li .logo:hover svg {
  width: 2rem;
}

#homepage header .hero {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
}

#homepage header .hero > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#homepage header .hero > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

#homepage header .hero > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
#homepage header .hero .visuals {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 100%;
  grid-template-rows: 100%;
}
#homepage header .hero .visuals > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
#homepage header .hero .visuals div {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
#homepage header .hero .visuals div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#homepage header .hero .visuals .backdrop {
  background-color: #8a4b00;
}
#homepage header .hero .visuals .img-contain {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 2;
  grid-row: 2/2;
  z-index: 1;
}
#homepage header .hero .text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  grid-row: 1/1;
}