@import url("https://use.typekit.net/fax7adl.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  list-style-type: none;
}

img {
  width: 2rem;
}

h1, h2, .linkbtn, .linkbtn-alt {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

p, li, a, input, label {
  font-family: "agenda", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

header {
  width: 100vw;
  height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 90%;
  margin: 1rem auto;
  display: flex;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
nav ul li {
  margin-right: 1.125rem;
}
nav ul li:last-of-type {
  margin-right: 0;
}
nav ul li a, nav ul li a:visited {
  color: #050505;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
nav ul li a:hover, nav ul li a:visited:hover {
  font-size: 1.25rem;
  color: #00978e;
}
nav ul li a svg, nav ul li a:visited svg {
  width: 1.25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
nav ul li a svg path, nav ul li a:visited svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
nav ul li a:hover svg, nav ul li a:visited:hover svg {
  width: 1.5rem;
}
nav ul li a:hover svg path, nav ul li a:visited:hover svg path {
  fill: #00978e;
}
nav ul li .logo svg {
  width: 1.75rem;
}
nav ul li .logo:hover svg {
  width: 2rem;
}