@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --blk: #010101;
    --wht: #fefefe;
    --main: #1e561e;
    --sec: #7a310a;
    --acc: #610345;
    --alta: #b57901;
    --altb: #000767;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--wht);
    color: var(--blk);
    font-family: "Roboto", sans-serif;
}
p {
    text-wrap: balance;
}
a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: var(--blk);
    transition: color 0.25s;
    &:hover {
        color: var(--acc);
    }
}
img {
    width: 100%;
    object-fit: cover;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
}
.btn {
    border: 2px solid var(--acc);
    background-color: var(--acc);
    color: var(--wht);
    padding: 5px 20px;
    text-align: center;
    border-radius: 15px;
    transition: color 0.25s, background-color 0.25s;
    &:hover {
        color: var(--acc);
        background-color: transparent;
    }
}
.contain {
    width: 90dvw;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.sbs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}
.tg {
    color: var(--main);
    background-image: linear-gradient(50deg, var(--main), #1e561e88);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
#totop {
    aspect-ratio: 1 / 1;
    position: fixed;
    bottom: 10px;
    right: -40px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    opacity: 30%;
    transition: right 0.5s, opacity 0.5s;
    &:hover {
        opacity: 100%;
        right: 0px;
        background-color: var(--acc);
        color: var(--wht);
    }
}

/* HEADER & NAVIGATION */
header {
    min-height: 100vh;
    display: grid;
    grid-template-rows: max-content minmax(0px, 1fr);
    background: 
        linear-gradient(0deg, #fffc, #fffc),
        url("../media/id/final-251-3d-paper-model-photograph.jpg");
    background-size: cover;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin: 15px auto;
}
header .logo a {
    font-size: 1.25rem;
    font-weight: 600;
}
header .links {
    display: flex;
    gap: 25px;
    > a {
        padding: 10px 0px;
    }
}
header .dropdown {
    cursor: pointer;
    position: relative;
    > a {
        padding: 10px 0px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        position: absolute;
        top: 100%;
        z-index: 1;
        background-color: #fff1;
        backdrop-filter: blur(15px);
        border-radius: 15px;
        width: max-content;
        visibility: hidden;
        opacity: 0%;
        transform: translateY(-25px);
        transition: visibility 0.5s, opacity 0.5s, transform 0.5s;
    }
    &:hover .menu {
        visibility: visible;
        opacity: 100%;
        transform: translateY(0px);
    }
}
.active {
    color: var(--altb);
    border-bottom: 0.5px solid var(--altb);
}

/* Header Hero */
.hero {
    align-self: center;
}
.hero .contain {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}
.hero .contain .cola {
    display: flex;
    flex-direction: column;
    align-self: end;
    h1 {
        font-size: clamp(2rem, 6vw, 6rem);
    }
}
.hero .contain .colb {
    display: flex;
    gap: 25px;
    backdrop-filter: blur(5px);
    div:first-child p:first-child {
        font-weight: 800;
        font-size: 205%;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
/* Process Page Hero */
.hero {
    align-self: center;
}
.hero .contain {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
}
.hero .contain .cola {
    display: flex;
    flex-direction: column;
    align-self: end;
    h1 {
        font-size: clamp(2rem, 6vw, 6rem);
    }
}
.hero .contain .colb {
    display: flex;
    gap: 25px;
    backdrop-filter: blur(5px);
    div:first-child p:first-child {
        font-weight: 800;
        font-size: 205%;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

/* Footer */
footer {
    background-color: var(--main);
    color: var(--wht);
    text-align: center;
    padding: 25px 0px;
}

/* Homepage Galleries */
main > h2 {
    margin-bottom: 25px;
    font-size: clamp(1.5rem, 3vw, 4rem);
}
main .p-gallery {
    /* Come back to because girl what is this?? */
    columns: 3 300px;
    gap: 25px;
    margin-bottom: calc(80px - 25px);
}
main .p-gallery > div {
    break-inside: avoid;
    margin-bottom: 25px;
}




/* LARGE DESKTOP RESPONSIVENESS MEDIA QUERY */
@media screen and (min-height: 1024px) {
    
}

/* TABLET RESPONSIVENESS MEDIA QUERY */
@media screen and (max-width: 995px) {
    .hero {
        margin-top: 40px;
    }
    .hero .contain {
        grid-template-columns: 1fr;
    }
    .hero .contain .cola {
        text-align: center;
        h1 {
            font-size: clamp(2rem, 10vw, 6rem);
        }
    }
}

/* MOBILE RESPONSIVENESS MEDIA QUERY */
@media screen and (max-width: 600px) {
    .hero .contain .colb {
        flex-direction: column;
        gap: 15px;s
        div:first-child p:first-child {
            font-size: 150%;
        }
    }
    
}