@import 'resets';
@import 'variables';
// Table of Contents
// 0. GENERAL STYLES
// 1. HEADER SECTION
//      1a. nav
//      1b. hero
// -------------------------------------------------------
// 0. GENERAL STYLES
h1, h2, .linkbtn, .linkbtn-alt {
    @include font($head, $size);
    font-weight: 700;
}
p, li, a, input, label {
    @include font($body, $size);
    font-weight: 500;
}
.linkbtn, .linkbtn-alt {
    background-color: $main;
    color: $wht;
    padding: 1.125rem 2rem;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    border: 3px solid $main;
    border-radius: 1.125rem;
    transition: all .5s;
    &:hover {
        color: $main;
        background-color: transparent;
        padding: 1.125rem 2.5rem;
    }
}
.linkbtn-alt {
    color: $main;
    background-color: transparent;
    &:hover {
        background-color: $main;
        color: $wht;
    }
}

// 1. HEADER SECTION
header {
    @include flex($m-center, flex-start, column wrap);
    width: 100vw;
    height: 100vh;
}
// 1a. nav
nav {
    @include flex($m-center, space-between, $flow);
    @include contain(1rem auto);
    display: flex;
    ul {
        @include flex($m-center, $c-center, $flow);
        li {
            margin-right: $size;
            &:last-of-type {
                margin-right: 0;
            }
            a, a:visited {
                color: $blk;
                text-decoration: none;
                transition: all .5s;
                &:hover {
                    font-size: 1.25rem;
                    color: $main;
                }
                svg {
                    width: 1.25rem;
                    transition: all .5s;
                    path {
                        transition: all .5s;
                    }
                }
                &:hover svg {
                    width: 1.5rem;
                    path {
                        fill: $main;
                    }
                }
            }
            .logo {
                svg {
                    width: 1.75rem;
                }
                &:hover svg {
                    width: 2rem;
                }
            } 
        }
    }
}
// 1b. hero
#homepage header .hero {
    @include contain($marg);
    @include flex($m-center, $c-center, $flow);
    flex: 1;
    .visuals {
        width: 50%;
        height: 100%;
        background-color: pink;
        .backdrop {
            background-color: $ac;
        }
        .img-contain {
            z-index: 1;
            width: 100%;
            height: 100%;
            img {
                @include imgfix;
            }
        }
    }
    .text {
        width: 50%;
        height: 100%;
    }
}